<div class="main">  
  <header class="title">
    <h1>ボーダーライン一覧表</h1>
  </header>
    <%= link_to("pachinco/new") do %>
    <%= image_tag '/計算機.jpg' , size: '185x50' , class: "fixed01" %>
    <% end %>
  <h2>CR 真・北斗無双</h2>
    <table>
      <tr>
        <th><%= image_tag "/hokuto.jpg", :size =>'700x480' %></th>
        <th><%= image_tag "/北斗無双.png", :size =>'700x480'%></th>
      </tr>
    </table>
      <h2>CR 真・花の慶次2 漆黒の衝撃</h2>
    <table>
      <tr>
        <th><%= image_tag "/keijiblack.jpg", :size =>'700x480' %></th>
        <th><%= image_tag "/漆黒.png", :size =>'700x480' %></th>
      </tr>
    </table>
      <h2>P とある魔術の禁書目録</h2>
    <table>
      <tr>
        <th><%= image_tag "/toaru.jpg", :size =>'700x480' %></th>
        <th><%= image_tag "/toaru.border.png", :size =>'700x480'%></th>
      </th>
    <table>
      <h2>P 北斗無双３</h2>
    <table>
      <tr>
        <th><%= image_tag "/北斗無双3.jpg", :size =>'700x480' %></th>
        <th><%= image_tag "/北斗無双3ボーダー.png", :size =>'700x480'%></th>
      </th>
    <table>
      <h2>P 戦姫絶唱シンフォギア２</h2>
    <table>
      <tr>
        <th><%= image_tag "/シンフォギア２.jpg", :size =>'700x480' %></th>
        <th><%= image_tag "/シンフォギア2ボーダー.png", :size =>'700x480'%></th>
      </th>
    <table>
    <h2>P コードギアス反逆のルルーシュ</h2>
    <table>
      <tr>
        <th><%= image_tag "/コードギアス.jpg", :size =>'700x480' %></th>
        <th><%= image_tag "/コードギアスボーダー.png", :size =>'700x480'%></th>
      </th>
    <table>
    <h2>P 大海物語4SP</h2>
    <table>
      <tr>
        <th><%= image_tag "/大海4sp.png", :size =>'700x480' %></th>
        <th><%= image_tag "/大海物語4ボーダー.png", :size =>'700x480'%></th>
      </th>
    <table>
</div>

